{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-file-setting" class="form-horizontal">
		<fieldset>
          <legend>{{ text_product }}</legend>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-prod-status"><span data-toggle="tooltip" title="{{ help_prod_status }}">{{ entry_prod_status }}</span></label>
            <div class="col-sm-10">
              <select name="sftool_product_status" id="input-prod-status" class="form-control">
                {% if sftool_product_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>		  
		  <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-prod-max-file-size"><span data-toggle="tooltip" title="{{ help_prod_max_filesize }}">{{ entry_max_size }}</span></label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-12">
                    <input type="text" name="sftool_prod_max_file_size" value="{{ sftool_prod_max_file_size ? : '300000' }}" placeholder="{{ entry_max_size }}" id="input-prod-max-file-size" class="form-control" />
                  </div>
                </div>
              </div>
          </div>
		  <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-prod-max-quantity"><span data-toggle="tooltip" title="{{ help_prod_max_quantity }}">{{ entry_max_quantity }}</span></label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-12">
                    <input type="text" name="sftool_prod_max_quantity" value="{{ sftool_prod_max_quantity ? : '3' }}" placeholder="{{ entry_max_quantity }}" id="input-prod-max-quantity" class="form-control" />
                  </div>
                </div>
              </div>
          </div>
		  </fieldset>
		  <fieldset>
          <legend>{{ text_register }}</legend>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-reg-status"><span data-toggle="tooltip" title="{{ help_reg_status }}">{{ entry_reg_status }}</span></label>
            <div class="col-sm-10">
              <select name="sftool_register_status" id="input-reg-status" class="form-control">
                {% if sftool_register_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>	  
		  <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-reg-max-file-size"><span data-toggle="tooltip" title="{{ help_reg_max_filesize }}">{{ entry_max_size }}</span></label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-12">
                    <input type="text" name="sftool_reg_max_file_size" value="{{ sftool_reg_max_file_size ? : '300000' }}" placeholder="{{ entry_max_size }}" id="input-reg-max-file-size" class="form-control" />
                  </div>
                </div>
              </div>
          </div>
		  <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-reg-max-quantity"><span data-toggle="tooltip" title="{{ help_reg_max_quantity }}">{{ entry_max_quantity }}</span></label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-12">
                    <input type="text" name="sftool_reg_max_quantity" value="{{ sftool_reg_max_quantity ? : '3' }}" placeholder="{{ entry_max_quantity }}" id="input-reg-max-quantity" class="form-control" />
                  </div>
                </div>
              </div>
          </div>
		  </fieldset>
		  <fieldset>
          <legend>{{ text_customer }}</legend>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-cust-status"><span data-toggle="tooltip" title="{{ help_cust_status }}">{{ entry_cust_status }}</span></label>
            <div class="col-sm-10">
              <select name="sftool_customer_status" id="input-cust-status" class="form-control">
                {% if sftool_customer_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
		  </fieldset>		
		  <fieldset>
          <legend>{{ text_image }}</legend>
		  <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-image-preview-size">{{ entry_preview }}</label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="sftool_image_preview_width" value="{{ sftool_image_preview_width ? : '80' }}" placeholder="{{ entry_width }}" id="input-image-popup-width" class="form-control" />
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="sftool_image_preview_height" value="{{ sftool_image_preview_height ? : '80' }}" placeholder="{{ entry_height }}" class="form-control" />
                  </div>
                </div>
              </div>
            </div>		
			<div class="form-group required">
              <label class="col-sm-2 control-label" for="input-image-popup-width">{{ entry_popup }}</label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="sftool_image_popup_width" value="{{ sftool_image_popup_width ? : '500' }}" placeholder="{{ entry_width }}" id="input-image-popup-width" class="form-control" />
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="sftool_image_popup_height" value="{{ sftool_image_popup_height ? : '500' }}" placeholder="{{ entry_height }}" class="form-control" />
                  </div>
                </div>
              </div>
            </div>			
			<div class="form-group required">
              <label class="col-sm-2 control-label" for="input-image-no-image-width">{{ entry_no_image }}</label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="sftool_image_no_image_width" value="{{ sftool_image_no_image_width ? : '80' }}" placeholder="{{ entry_width }}" id="input-image-popup-width" class="form-control" />
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="sftool_image_no_image_height" value="{{ sftool_image_no_image_height ? : '80' }}" placeholder="{{ entry_height }}" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
		   </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}